@import url("https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap");

* {
  font-family: "National Park", sans-serif;
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
}
body,
html {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}
#header,
#footer {
  background-color: black;
}
#header h1,
#footer p,
#footer a {
  text-align: center;
  padding: 30px;
  color: white;
}

#footer a {
  text-decoration: none;
}
#footer strong,
#header h1 {
  color: yellowgreen;
}
#main {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}
.section-generic {
  margin-top: 20px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  text-align: justify;
  padding: 30px;
}
.section-generic img {
  display: block;
  margin: auto;
}
table {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  margin: auto;
  width: 40%;
}
td,
th {
  border: 2px solid black;
  text-align: center;
  padding: 5px;
}

th {
  background-color: yellowgreen;
  color: white;
}

td {
  font-weight: bold;
}
